<!-- Ниже пишем код для Contacts СТРАНИЦЫ Contacts -->

<div class="contacts-info">
        <div class="contacts-info__tel">

            <h3 class="contacts-info__tel-title">ТЕЛЕФОНИ</h3>
                <ul class="list contacts-info__tel-list">
                    <li>+38 (095) -73-84-551</li>
                    <li>+38 (098) -00-25-235</li>
                </ul>

        </div>
        <div class="contacts-info__email">
            <h3 class="contacts-info__email-title">Email</h3>
                <ul class="list contacts-info__email-list">

                    <li>3dfreedom.info@gmail.com</li>
                    
                </ul>

                <div class="contacts-info__work-schedule">
                    <h3 class="contacts-info__work-schedule-title">Робочий час</h3>
                    <ul class="list contacts-info__work-schedule-list">
                        <li>Пн-пт:</li>
                        <li>з 8:00 до 19:00</li>
                        <li>Сб, Нд:</li>
                        <li>з 10:00 до 17:00</li>
                    </ul>

                </div>




        </div>


</div>
