<!-- Ниже пишем код для Form СТРАНИЦЫ Contacts -->
<section class="section">
  <div class="container container--column">
    <form action="#" class="modal-form">
      <h3 class="modal-form__title">ЗВ’ЯЖІТЬСЯ З НАМИ</h3>

      <label class="contact-form contact-form__name"
        >Ім’я
        <input
          type="text"
          class="contact-form__input"
          name="user-name"
          pattern="[a-zA-Za-яА-Я]+"
          title="Ім'я повинно містити символи кирилиці або латиниці"
          required
          minlength="2"
        />
      </label>

      <label class="contact-form">
        <input
          type="email"
          class="contact-form__input"
          placeholder="email"
          name="user-mail"
          required
        />
      </label>

      <label class="contact-form contact-form__field-message"
        >Повідомлення
        <textarea
          name="user-message"
          class="contact-form__message"
          placeholder="Залишіть своє повідомлення"
          style="resize: none"
        ></textarea>
        <label for="clip">
          <input type="file" id="clip" hidden />
          <svg class="contact-form__message-icon">
            <use href="./images/icons.svg#icon-clip"></use>
          </svg>
        </label>
      </label>
      <p class="contact-form__note">Прикріпіть зображення / креслення / STL / Obj / CAD-модель</p>

      <button class="button--order button-base button-contact" type="submit">ВІДПРАВИТИ</button>
    </form>
  </div>
</section>
