<!-- Ниже пишем код для Hero СТРАНИЦЫ 3D Modeling -->
<section class="section">
  <div class="container modelling-container">
    <h2 class="subtitle">3D МОДЕЛЮВАННЯ</h2>
    <div class="modelling-wrapper">
      <div class="modelling-wrapper__right-side">
        <p class="modelling-hero">
        Сфера 3D графіки може надати широкий спектр послуг. Але якщо спроектована модель буде
        створюватися шляхом 3D друку, обробки заготовки на ЧПУ станках або іншими виробничими
        методами, то до моделі преставляеться ряд інженерних вимог які повинен враховувати дизайнер
        при розробці моделі.
      </p>
      </div>
   <div class="modelling-wrapper__left-side">
     
      <p class="modelling-hero ">
        Наші фахівці допоможуть вам визначитися з технічною стороною вироба і підготують модель для
        її створення. Ми маємо широкий спектр інструментів для вдоволення будь-якої вашої задачі.
      </p>
    
   </div>
  </div>
</section>
