/* caviar dreams - regular - latin_cyrillic */
@font-face {
  font-family: 'Caviar Dreams';
  font-style: normal;
  font-weight: 400;
  src: local("Caviar Dreams"), local("CaviarDreams"), url("../fonts/caviardreams/caviardreams.woff2") format("woff2"), url("../fonts/caviardreams/caviardreams.woff") format("woff"), url("../fonts/caviardreams/caviardreams.ttf") format("truetype");
}

/* caviar dreams - 700 - latin_cyrillic */
@font-face {
  font-family: 'Caviar Dreams';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/caviardreams/caviardreamsbold.woff2") format("woff2"), url("../fonts/caviardreams/caviardreamsbold.woff") format("woff"), url("../fonts/caviardreams/caviardreamsbold.ttf") format("truetype");
}

/* cera pro - 300 - latin_cyrillic */
@font-face {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/cerapro/CeraPro-Light.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/cerapro/CeraPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/cerapro/CeraPro-Light.woff2") format("woff2"), url("../fonts/cerapro/CeraPro-Light.woff") format("woff"), url("../fonts/cerapro/CeraPro-Light.ttf") format("truetype");
}

/* cera pro - regular - latin_cyrillic */
@font-face {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cerapro/CeraPro-Regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/cerapro/CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/cerapro/CeraPro-Regular.woff2") format("woff2"), url("../fonts/cerapro/CeraPro-Regular.woff") format("woff"), url("../fonts/cerapro/CeraPro-Regular.ttf") format("truetype");
}

/* cera pro - 500 - latin_cyrillic */
@font-face {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/cerapro/CeraPro-Medium.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/cerapro/CeraPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/cerapro/CeraPro-Medium.woff2") format("woff2"), url("../fonts/cerapro/CeraPro-Medium.woff") format("woff"), url("../fonts/cerapro/CeraPro-Medium.ttf") format("truetype");
}

/* cera pro - bold - latin_cyrillic */
@font-face {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/cerapro/CeraPro-Bold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/cerapro/CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/cerapro/CeraPro-Bold.woff2") format("woff2"), url("../fonts/cerapro/CeraPro-Bold.woff") format("woff"), url("../fonts/cerapro/CeraPro-Bold.ttf") format("truetype");
}

:root {
  --main-font-regular: 'Cera Pro', serif, sans-serif;
  --secondary-font-regular: 'Caviar Dreams', serif, sans-serif;
  --main-color-dark: #487996;
  --main-color-light: #bdbdbd;
  --secondary-color-dark: #2b2b2b;
  --secondary-color-light: #ffffff;
  --color-light-placeholder: #cdcdcd;
  --background-color-font: #e5e5e5;
  --background-color-dark: #f5f5fa;
  --background-color-white: #ffffff;
  --accent-color: #ff6c00;
  --accent-color-icons: #008cee;
  --main-font-weight: 400;
  --main-text-size: 16px;
  --secondary-text-size: 14px;
  --main-transition-duration: 250ms;
  --main-transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: var(--main-font-regular);
  font-weight: var(--main-font-weight);
  font-size: var(--main-text-size);
  color: var(--main-color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  font-size: inherit;
  text-decoration: none;
}

.button-base {
  font-family: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.main-hero {
  padding-top: 12px;
  padding-bottom: 52px;
}

@media screen and (min-width: 1444px) {
  .main-hero {
    padding-bottom: 100px;
  }
}

.main-title {
  font-family: var(--secondary-font-regular);
  font-weight: var(--main-font-weight);
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-color-dark);
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .main-title {
    font-size: 24px;
    max-width: 350px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1444px) {
  .main-title {
    font-size: 48px;
    max-width: 510px;
    margin-bottom: 68px;
  }
}

.main-hero-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 32px;
}

.main-hero-list__item:not(:last-child) {
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .main-hero-list__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1444px) {
  .main-hero-list__item:not(:last-child) {
    margin-right: 37px;
  }
}

.main-hero-list__walle {
  border-radius: 0px 35px 0px 0px;
}

.main-hero-list__lamps {
  border-radius: 100%;
}

.main-hero-list__phone {
  border-radius: 0px 25px;
}

@media screen and (min-width: 768px) {
  .main-hero-list {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1444px) {
  .main-hero-list {
    margin-bottom: 100px;
  }
}

.main-hero-text {
  font-family: var(--secondary-font-regular);
  font-weight: var(--main-font-weight);
  font-size: var(--main-text-size);
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-color-dark);
}

@media screen and (min-width: 768px) {
  .main-hero-text {
    font-size: 18px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1444px) {
  .main-hero-text {
    font-size: 36px;
  }
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  outline: solid 1px red;
}

.container--header {
  outline: solid 1px green;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-right: 60px;
    padding-left: 60px;
    max-width: 768px;
  }
  .container--header {
    padding-right: 65px;
    padding-left: 65px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-right: 190px;
    padding-left: 190px;
    max-width: 1080px;
  }
  .container--header {
    padding-right: 80px;
    padding-left: 80px;
    max-width: 1280px;
  }
}

.section-order {
  padding-top: 52px;
  padding-bottom: 76px;
}

@media screen and (min-width: 1444px) {
  .section-order {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
/*# sourceMappingURL=main.css.map */