<div class="bg-main-hero">
    <div class="bg-block-left">
        <img class="bg-block-left--1 block" src="./images/bg-blocks/block.jpg" alt="" />
        <img class="bg-block-left--2 block" src="./images/bg-blocks/block.jpg" alt="" />
        <img class="bg-block-left--3 block" src="./images/bg-blocks/block.jpg" alt="" />
        <img class="bg-block-left--4 block" src="./images/bg-blocks/block.jpg" alt="" />
    
        <img class="bg-block-left__img--1 block" src="./images/bg-blocks/block.jpg" alt="" />
        <img class="bg-block-left__img--2 block" src="./images/bg-blocks/block.jpg" alt="" />
    </div>

    <div class="bg-block-right">
        <img class="bg-block-right--1 block" src="./images/bg-blocks/block.jpg" alt="" />
        <img class="bg-block-right--2 block" src="./images/bg-blocks/block.jpg" alt="" />
        <img class="bg-block-right--3 block" src="./images/bg-blocks/block.jpg" alt="" />
        <img class="bg-block-right--4 block" src="./images/bg-blocks/block.jpg" alt="" />
        <img class="bg-block-right--5 block" src="./images/bg-blocks/block.jpg" alt="" />

        <img class="bg-block-right__img--1 block" src="./images/bg-blocks/block.jpg" alt="" />
        <img class="bg-block-right__img--2 block" src="./images/bg-blocks/block.jpg" alt="" />
    </div>

    <div class="bg-block-bottom">
        <img class="bg-block-bottom--1 block" src="./images/bg-blocks/block.jpg" alt="" />
        <img class="bg-block-bottom--2 block" src="./images/bg-blocks/block.jpg" alt="" />
        <img class="bg-block-bottom--3 block" src="./images/bg-blocks/block.jpg" alt="" />
        <img class="bg-block-bottom--4 block" src="./images/bg-blocks/block.jpg" alt="" />
        <img class="bg-block-bottom--5 block" src="./images/bg-blocks/block.jpg" alt="" />
        <img class="bg-block-bottom--6 block" src="./images/bg-blocks/block.jpg" alt="" />
        <img class="bg-block-bottom--7 block" src="./images/bg-blocks/block.jpg" alt="" />
        <img class="bg-block-bottom--8 block" src="./images/bg-blocks/block.jpg" alt="" />
        <img class="bg-block-bottom--9 block" src="./images/bg-blocks/block.jpg" alt="" />
    </div>

</div>

