<!-- Ниже пишем код для Hero СТРАНИЦЫ Order -->
<section class="order-hero section">
  <div class="container main-container">
    <div class="main-container__title">
      <h1 class="order-title">ЗРОБИТИ ЗАМОВЛЕННЯ</h1>

      <ul class="order-hero-list list">
        <li class="order-hero-list__item">
          <picture class="">
            <source
              media="(min-width: 1444px)"
              srcset="./images/order/lamp_desktop.webp 1x, ./images/order/lamp_desktop@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="./images/order/lamp_desktop.jpg 1x, ./images/order/lamp_desktop@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/order/lamp_tablet.webp 1x, ./images/order/lamp_tablet@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/order/lamp_tablet.jpg 1x, ./images/order/lamp_tablet@2x.jpg 2x"
            />

            <source
              media="(min-width: 320px)"
              srcset="./images/order/lamp_phone.webp 1x, ./images/order/lamp_phone@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="./images/order/lamp_phone.jpg 1x, ./images/order/lamp_phone@2x.jpg 2x"
            />

            <img class="order-hero-list" src="./images/order/lamp_desktop.jpg" alt="Лампа" />
          </picture>
        </li>
        <li>
          <p class="order-hero__text">
            На цій сторінці ви можете зробити замовлення заповнивши форму і ми зв'яжемося з вами.
          </p>
          <p class="order-hero__text">
            Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть відповідь на всі
            ваші запитання.
          </p>

          <picture class="order-hero__photo">
            <source
              media="(min-width: 1444px)"
              srcset="./images/order/track_desktop.webp 1x, ./images/order/track_desktop@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="./images/order/track_desktop.jpg 1x, ./images/order/track_desktop@2x.jpg 2x"
            />
            <img
              class="order-hero__photo-track"
              src="./images/order/track_desktop.jpg"
              alt="Трак"
            />
          </picture>
          <picture class="order-hero__photo">
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/order/led_lamp_desktop.webp    1x,
                ./images/order/led_lamp_desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="
                ./images/order/led_lamp_desktop.jpg    1x,
                ./images/order/led_lamp_desktop@2x.jpg 2x
              "
            />
            <img
              class="order-hero__photo-led"
              src="./images/order/led_lamp_desktop.jpg"
              alt="Лед лампа"
            />
          </picture>
          <picture class="order-hero__photo">
            <source
              media="(min-width: 1444px)"
              srcset="./images/order/lamp_mushroom.webp 1x, ./images/order/lamp_mushroom@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1444px)"
              srcset="./images/order/lamp_mushroom.jpg 1x, ./images/order/lamp_mushroom@2x.jpg 2x"
            />
            <img
              class="order-hero__photo-mushroom"
              src="./images/order/lamp_mushroom.jpg"
              alt="Лампа в форме гриба"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
