<!-- Ниже пишем код для footer -->
<footer class="footer">
  <div class="container">
    <!-- <h1>HERE WILL BE FOOTER</h1> -->

    <a class="logo-footer logo link" href="#">logo</a>

    <div class="footer--block-flex-main">
      <nav class="nav-footer">
        <ul class="nav-footer__list list">
          <li class="nav-footer__item">
            <a class="nav-footer__link link footer--dark-text" href="./index.html">
              Головна
            </a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link link footer--dark-text" href="./modeling.html">
              3D Моделювання
            </a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link link footer--dark-text" href="./scanning.html">
              3D Сканування
            </a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link link footer--dark-text" href="./printing.html">
              3D Друк
            </a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link link footer--dark-text" href="./order.html">
              Замовити
            </a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link link footer--dark-text" href="./contacts.html">
              Контакти
            </a>
          </li>
        </ul>
      </nav>
      
      <address class="address-footer">
        <ul class="seti-footer list">
          <li class="seti-footer__item">
            <a href="#" class="seti-footer__link link footer--dark-text">Instagram</a>
          </li>
          <li class="seti-footer__item">
            <a href="#" class="seti-footer__link link footer--dark-text">YouTube</a>
          </li>
          <li class="seti-footer__item">
            <a href="#" class="seti-footer__link link footer--dark-text">Facebook</a>
          </li>
        </ul>
      
        <div class="footer--block-flex-secondary">
          <div class="email-footer">
            <p class="email-footer__text footer--dark-text">Email</p>
            <a class="link footer--blue-text" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
          </div>
          
          <div class="tel-footer">
            <p class="tel-footer__text footer--dark-text">Телефони</p>
            <ul class="tel-footer__list list">
              <li class="tel-footer__item">
                <a class="link footer--blue-text" href="tel:+380936432288">+38 (093) 643 22 88</a>
              </li>
              <li class="tel-footer__item">
                <a class="link footer--blue-text" href="tel:+380503454423">+38 (050) 345 44 23</a>
              </li>
            </ul>
          </div>
        </div>
        
      </address>
    </div>

  </div>
</footer>
