<!-- Ниже пишем код для Process СТРАНИЦЫ 3D Printing -->
<section>
  <div>
    <h2 class="visually-hidden">Опис процесу</h2>
    <ul class="list">
      <li>
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/printing/printing_desktop.webp    1x,
              ./images/printing/printing_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/printing/printing_desktop.jpg    1x,
              ./images/printing/printing_desktop@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/printing/printing_tablet.webp    1x,
              ./images/printing/printing_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/printing/printing_tablet.jpg    1x,
              ./images/printing/printing_tablet@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 320px)"
            srcset="
              ./images/printing/printing_phone.webp    1x,
              ./images/printing/printing_phone@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 320px)"
            srcset="
              ./images/printing/printing_phone.jpg    1x,
              ./images/printing/printing_phone@2x.jpg 2x
            "
          />

          <img src="#" alt="Друк" />
        </picture>
        <p>
          3D-друк - ми використовуємо FDM технологію друку. Вона представляє собою пошарове
          формування об'єкта за допомогою 3D принтера.
        </p>
        <p>
          Моделі для створення розроблюються дизайнерами в спеціальному програмному забезпеченні:
          системах автоматизованого проектування.
        </p>
        <p>
          3D друк знайшов широке застосування в архітектурі, промисловості, маркетингу, мистецтві і
          багатьох інших сфер.
        </p>
        <button type="button"><a href="#">зробити замовлення</a></button>
      </li>

      <li>
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/printing/modelling_desktop.webp    1x,
              ./images/printing/modelling_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/printing/modelling_desktop.jpg    1x,
              ./images/printing/modelling_desktop@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/printing/modelling_tablet.webp    1x,
              ./images/printing/modelling_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/printing/modelling_tablet.jpg    1x,
              ./images/printing/modelling_tablet@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 320px)"
            srcset="
              ./images/printing/modelling_phone.webp    1x,
              ./images/printing/modelling_phone@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 320px)"
            srcset="
              ./images/printing/modelling_phone.jpg    1x,
              ./images/printing/modelling_phone@2x.jpg 2x
            "
          />

          <img src="#" alt="Моделювання" />
        </picture>
        <p>
          3D-моделювання - це процес розробки математичного уявлення будь-якої поверхні об'єкта в
          трьох вимірах за допомогою спеціалізованого програмного забезпечення.
        </p>
        <p>Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.</p>
        <p>
          Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю задовольнить
          ваші потреби.
        </p>
        <button type="button"><a href="#">зробити замовлення</a></button>
      </li>

      <li>
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/printing/scanning_desktop.webp    1x,
              ./images/printing/scanning_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/printing/scanning_desktop.jpg    1x,
              ./images/printing/scanning_desktop@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/printing/scanning_tablet.webp    1x,
              ./images/printing/scanning_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/printing/scanning_tablet.jpg    1x,
              ./images/printing/scanning_tablet@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 320px)"
            srcset="
              ./images/printing/scanning_phone.webp    1x,
              ./images/printing/scanning_phone@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 320px)"
            srcset="
              ./images/printing/scanning_phone.jpg    1x,
              ./images/printing/scanning_phone@2x.jpg 2x
            "
          />

          <img src="#" alt="Сканування" />
        </picture>
        <p>
          3D-сканування - зняття даних, шляхом аналізу форми предмета і на основі отриманих даних
          створення її 3D-моделі.
        </p>
        <p>
          Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для візуалізації
          в цифровому вигляді, так і 3D-модель для подальшого її друку на 3D-принтері.
        </p>
        <button type="button"><a href="#">зробити замовлення</a></button>
      </li>
    </ul>
  </div>
</section>
