.device-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.device-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header-menu-wrapper {
  display: flex;
  align-items: center;
  padding-top: 22px;
}

.device-menu__icon {
  width: 22px;
  height: 22px;
  fill: var(--main-color-dark);
  margin-left: 28px;
  margin-right: 50px;
  cursor: pointer;
}

.container--device-menu {
  height: 100%;
  width: 100%;
}

.device-menu-list {
  align-items: center;
  margin-top: 44px;
}

.device-menu-list__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
.device-menu-list__link {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color-dark);

  &.device-menu-list__link_current {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--main-color-dark);
    -moz-text-stroke-width: 1px;
    -moz-text-stroke-color: var(--main-color-dark);
  }
}
.device-menu-list__link--marker {
  text-transform: none;
  font-weight: 500;
  &::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: var(--main-color-dark);
    border-radius: 3px 0;
    transform: translateY(-50%);
    margin-right: 11px;
  }
}

// ============= 768+ ================

@media screen and(min-width:768px) {
  .header-menu-wrapper {
    padding-top: 20px;
  }

  .device-menu__icon {
    width: 25px;
    height: 25px;
    margin-left: 187px;
    margin-right: 85px;
  }
}

// ============= 1444+ ================

@media screen and(min-width:1444px) {
  .device-menu {
    display: none;
  }
}
