.section.photos--section {
  padding-bottom: 153px;
}

.photos__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.photos__item:nth-child(n + 4) {
  display: none;
}

.photos__item:nth-child(-n + 2) {
  margin-bottom: 16px;
}

.photos__image {
  max-width: 280px;
}

@media screen and (min-width: 768px) {
  .section.photos--section {
    padding-bottom: 129px;
  }

  .photos__title {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 32px;
  }

  .photos__list {
    display: flex;
    flex-flow: row wrap;
  }

  .photos__image {
    max-width: 100%;
  }

  .photos__item {
    flex: auto;
  }

  .photos__item:nth-child(n + 4) {
    display: block;
  }

  .photos__item:nth-child(-n + 3) {
    margin-bottom: 20px;
  }

  .photos__item:nth-child(n + 4) {
    margin-bottom: 20px;
  }

  .photos__item:nth-child(n + 10) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1444px) {
  .section.photos--section {
    padding-bottom: 201px;
  }

  .photos__title {
    font-size: 48px;
    line-height: 1.25;
    margin-bottom: 52px;
  }

  .photos__item:nth-child(-n + 3) {
    margin-bottom: 32px;
  }

  .photos__item:nth-child(n + 4) {
    margin-bottom: 32px;
  }

  .photos__item:nth-child(n + 10) {
    margin-bottom: 0;
  }
}
